<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <root>
      <level value="ALL" />
    </root>

    <appender name="All" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="All.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="100MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>

    <logger name="InventoryLogger" additivity="false">
      <level value="ALL" />
      <appender-ref ref="Inventory" />
      <appender-ref ref="All" />
    </logger>

    
    <appender name="Inventory" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{InventoryLogFileName}.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="100MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>

    <logger name="ItemDeltaLogger" additivity="false">
      <level value="ALL" />
      <appender-ref ref="ItemDelta" />
      <appender-ref ref="All" />
    </logger>


    <appender name="ItemDelta" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{ItemDeltaLogFileName}.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="100MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>


    <logger name="StashtabLogger" additivity="false">
      <level value="ALL" />
      <appender-ref ref="Stashtab" />
      <appender-ref ref="All" />
    </logger>


    <appender name="Stashtab" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{StashtabLogFileName}.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="100MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>

    <logger name="EventManagerLogger" additivity="false">
      <level value="ALL" />
      <appender-ref ref="EventManager" />
      <appender-ref ref="All" />
    </logger>


    <appender name="EventManager" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{EventManagerLogFileName}.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="100MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    
    
    <logger name="ClientTxtLogger" additivity="false">
      <level value="ALL" />
      <appender-ref ref="ClientTxt" />
      <appender-ref ref="All" />
    </logger>


    <appender name="ClientTxt" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{ClientTxtLogFileName}.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="100MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    

    <logger name="RequestCoordinatorLogger" additivity="false">
      <level value="ALL" />
      <appender-ref ref="RequestCoordinator" />
      <appender-ref ref="All" />
    </logger>
    
    <appender name="RequestCoordinator" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{RequestCoordinatorLogFileName}.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="100MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>


  </log4net>
</configuration>